@inherits LayoutComponentBase
@inject Sentinel.Dashboard.Services.ThemeService Theme

<div class="workstation-shell @(Theme.IsLightMode ? "light-mode" : "")">
    
    <header class="top-bar-sentinel">
        <div class="top-bar-left">
            <a href="/" class="brand-link">
                <div class="brand-title-mini">AIRWITNESS <span>PRO</span></div>
            </a>
            <div class="v-divider"></div>
            <nav class="top-nav-links">
                <NavLink href="" Match="NavLinkMatch.All" class="nav-item">CONTROL</NavLink>
                <NavLink href="single" class="nav-item">RADAR</NavLink>
                <NavLink href="multi" class="nav-item">MATRIZ</NavLink>
                <NavLink href="audit" class="nav-item">AUDITORÍA</NavLink>
                <NavLink href="maintenance/stations" class="nav-item">CONFIGURACIÓN</NavLink>
                <NavLink href="alerts" class="nav-item">ALERTAS</NavLink>
            </nav>
        </div>
        
        <div class="top-bar-right">
            <WeatherNeonWidget />
            <ThemeToggle />
        </div>
    </header>

    <main class="main-content-sentinel">
        @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
