# .gitignore para AirWitness

# .NET
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates
.vs/

# Docker & DB
.docker/
docker-data/
postgres-data/
*.db
*.db-journal

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# OS
.DS_Store
Thumbs.db

# App Specific
src/Sentinel.Dashboard/wwwroot/evidencia/*
!src/Sentinel.Dashboard/wwwroot/evidencia/.gitkeep
data/stations.json
